body {
    background-image: url(../img/neutral.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
}

.text {
    color: rgba(88, 88, 88, 0.9);
    font-size: 24px;
    opacity: 0.9;
}

.city-card {
    max-width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.city-card img {
    max-width: 100vw;
    height: 30vh;
    border-radius: 5px;
}