* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/nasa.jpg);
  background-size: cover;
}

.drum  {
  position: relative;
  padding: 44vh;
  display: flex;
  justify-content: center;
} 

.search-drum {
  width: 500px;
  position: absolute;
  top: 140px;
}

.search-drum input {
  /* gradient made using https://cssgradient.io */
  background: linear-gradient(90deg, rgba(2,0,36,0.55) 0%, rgba(17,9,121,0.35) 35%, rgba(0,212,255,0.25) 90%);
  outline: none;
  border: none;
  height: 55px;
  width: 100%;
  padding: 0 40px 0 20px;
  border-radius: 5px;
  opacity: 0.75;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.search-drum .suggestions {
  background: rgb(2,0,36);
  border-radius: 5px;
  opacity: 0.70;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  max-height: 45vh;
  overflow-y: auto;
}

.suggestions > ul > li {
  list-style: none;
  border-radius: 5px;
  padding: 8px 16px;
}

.highlight {
   /* background-color: rgb(116, 183, 186); option 1 */
  background-color: rgb(195, 167, 220); /* option 2 */
}
