body {
    background-image: url(../img/books.jpg);
    background-size: cover;
}

#signup-container {
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 195px;
}

.join-message {
    font-size: 32px;
    font-weight: 700;
    opacity: 0.85;
}

.form-control {
    opacity: 0.85;
}

.btn {
    opacity: 0.90;
}