{% extends 'base.html' %}

{% block title %} City Scores {% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ url_for('static', filename='comparison.css') }}"> {% endblock %}
{% block content %}

<div class="container">
  <h1>City Scores for {{ name }}</h1>
  
  <button id="favorite-button" class='btn {{ "btn-outline-warning" if fav_btn_state == "Unfavorite" else "btn-primary" }}'>{{ fav_btn_state }}</button>
  <button id="base-city-button" class='btn {{ "btn-outline-danger" if base_btn_state == "Remove Base City" else "btn-secondary" }}'>{{ base_btn_state }}</button>
  
  <p>{{ data.summary | safe }}</p>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>Category</th>
              <th>Score (out of 10)</th>
            {% if base_name %}
                <th> {{ base_name }} (out of 10)</th>
            {% endif %}
          </tr>
      </thead>
      <tbody>
        {% for category in data.categories %}
          <tr>
              <td>{{ category.name }}</td>
              <td>
                  <div class="score-bar category-{{ loop.index }} width-{{ category.score_out_of_10 | round(0) | int }}">
                      {{ category.score_out_of_10 | round(1) }}
                  </div>
              </td>

            {% if base_data %}
                <td>
                    <div class="score-bar category-{{ loop.index }} width-{{ base_data.categories[loop.index - 1].score_out_of_10 | round(0) | int }}">
                        {{ base_data.categories[loop.index - 1].score_out_of_10 | round(1) }}
                    </div>
                </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
  </table>

    <p>
        <span style="text-align:left;">Teleport City Score of <b>{{ data.teleport_city_score | round }}</b> for {{ name }}</span><br>
    {% if base_name %}
        <span style="text-align:right;">Teleport City Score of <b>{{ base_data.teleport_city_score | round }}</b> for {{ base_name }}</span>
    {% endif %}
    </p>
   
</div>

<script  src="{{ url_for('static', filename='comparison.js') }}"></script>

{% endblock %}