{% extends 'base.html' %}

{% block title %} City Scores {% endblock %}

{% block body_class %}onboarding{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ url_for('static', filename='comparison.css') }}"> {% endblock %}
{% block content %}

<div class="container">
  <h1>City Scores for {{ city }}</h1>
  <button id="favorite-button" class="btn btn-primary">Favorite</button>
  <button id="base-city-button" class="btn btn-secondary">Set Base City</button>
  <p>{{ data.summary | safe }}</p>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>Category</th>
              <th>Score (out of 10)</th>
          </tr>
      </thead>
      <tbody>
          {% for category in data.categories %}
          <tr>
              <td>{{ category.name }}</td>
              <td>
                  <div class="score-bar category-{{ loop.index }}">
                      {{ category.score_out_of_10 | round(1) }}
                  </div>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  <p>Teleport City Score: {{ data.teleport_city_score | round }}</p>
</div>

<script  src="{{ url_for('static', filename='comparison.js') }}"></script>

{% endblock %}