<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Urban Pulse</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/search">Urban Pulse</a>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/user">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </nav>

    {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>

  
<div class="container">

  <!-- partial:index.partial.html -->
  <div class="search-container">
	  <input type="text" name="cities" id="cities" placeholder="Search Urban Areas">
    <button id="submit-button">Search</button>
	  <div class="suggestions">
		  <ul></ul>
	  </div>
  </div>
  <!-- partial -->
	<script  src="{{ url_for('static', filename='script.js') }}"></script>

</div>

</body>
</html>