{% extends 'base.html' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h2 class="mt-5">Urban Pulse, there's a city for every person!</h2>
            <h4 class="lead mt-3">Discover over 250 global cities and urban areas</h4>
            <h4 class="lead mt-3">Compare based on 15+ quality of life metrics</h4>
            <h4 class="lead mt-3">Your 1st choice next-stop awaits!</h4>
            
            {% if not g.user %}
                <a href="/signup" class="btn btn-primary btn-lg mt-2">Start Exploring</a>
            {% endif %}

            {% if g.user %}
                <a href="/search" class="btn btn-primary btn-lg mt-2">Explore our Cities</a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
