{% extends 'base.html' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ url_for('static', filename='css/delete.css') }}">{% endblock %}

{% block content %}

<div id="delete-container" class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message text">Delete Profile.</h2>
    <br>
    <form method="POST" id="delete_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <p class="text">To confirm changes, enter your password:</p>
    
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
          {{ error }}
        </span>
        {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
        <div class="edit-btn-area">
          <button class="btn btn-danger">Delete</button>
          <a href="/user" class="btn btn-primary">Cancel</a>
        </div>
    </form>
  </div>
</div>

{% endblock %}