{% extends 'base.html' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">{% endblock %}

{% block content %}

<div id="edit-container"class="row justify-content-md-center">
  <div class="col-md-4">
    <h2 class="join-message text">Edit Your Profile.</h2>
    <form method="POST" id="profile_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
      <br>
      <p class="text">To confirm changes, enter your password:</p>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          <span class="text-danger">
          {{ error }}
        </span>
        {% endfor %}
      {% endif %}
      {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}
      <br>
        <div class="edit-btn-area">
          <button class="btn btn-success">Edit</button>
          <a href="/user" class="btn btn-danger">Cancel</a>
        </div>
    </form>
  </div>
</div>

{% endblock %}